<footer class="footer bg-dark py-4 mt-auto border-top border-secondary">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="text-center text-md-start">
          <span class="text-light">
            <i class="fas fa-heart text-danger me-1"></i>
            Made with love by 
            <a href="https://github.com/DevOlabode" target="_blank" class="text-gradient text-decoration-none">
              Samuel Olabode
            </a>
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-center text-md-end">
          <span class="opacity-50">
            <i class="fas fa-copyright me-1"></i>
            2025 ApplyTracker. All rights reserved.
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
